<div class="grphic">
<div class="donr">
<div class="page-header">
<h2 style="color:  #000000; text-align:center;">Get yourself registered as a blood donor here!</h2>
</div>
<form [formGroup]="regForm"   ngNativeValidate >
   <!-- <div id="block_container">-->
   
        <input type="hidden" id="" formControlName="id" class="form-control" >
      
            <div class="page-header">
                <h4>Enter your personal details here!</h4>
                </div>
            <div id="bloc1" [ngClass]="{'has-error':fn.firstname.errors && fn.firstname.touched}" class="col-xs-6">
                <input type="text" id="" name="" formControlName="firstname" class="form-control" placeholder="Enter your first name here" >
                <span class="alert-danger" *ngIf="fn.firstname.errors && (fn.firstname.touched || fn.firstname.dirty)">First Name must not be greater than 20 or left blank</span>
                </div>
                <div id="bloc2" [ngClass]="{'has-error':fn.lastname.errors && fn.lastname.touched}" class="col-xs-6">
                <input type="text" id="" name="" formControlName="lastname" class="form-control" placeholder="Enter your last name here">
                <span class="alert-danger" *ngIf="fn.lastname.errors && (fn.lastname.touched || fn.lastname.dirty)">Last Name must not be greater than 20 or left blank</span>
               </div><br><br><br><br>
           <!-- </div>-->
               <div [ngClass]="{'has-error':fn.age.errors && fn.age.touched}" class="col-xs-3" id="bloc3 ">
                <input type="number" id="" name="" formControlName="age" class="form-control" placeholder="age">
                <span class="alert-danger" *ngIf="fn.age.errors && (fn.age.touched || fn.age.dirty)">Can not be left blank</span>
               </div>
               
               <div [ngClass]="{'has-error':fn.dob.invalid && fn.dob.touched}" class="col-xs-3" id="bloc3 ">
                Date of Birth<input type="date" id="" name="" formControlName="dob" class="form-control" />
                <span class="alert-danger" *ngIf="fn.dob.invalid && (fn.dob.touched || fn.dob.dirty)">Can not be left blank</span>
               </div><br>
               &nbsp;   <div id="bloc4">
                Select your gender:    &nbsp;<input type="radio" value="Male" name="gender" formControlName="gender" id="rdoMale"><label for="rdoMale">Male</label>
               &nbsp;<input type="radio" value="Female" name="gender" formControlName="gender" id="rdoFemale"><label for="rdoFemale">Female</label>
               &nbsp;<input type="radio" value="Others" name="gender" formControlName="gender" id="rdoOther"><label for="rdoOther">Others</label>
              </div><br><br><br>
               <div [ngClass]="{'has-error':fn.height.errors && fn.height.touched}" class="col-xs-3" id="bloc5 ">
                <input type="number" id="" name="" formControlName="height" class="form-control" placeholder="Height(in cm)">
                <span class="alert-danger" *ngIf="fn.height.errors && (fn.height.touched || fn.height.dirty)">Can not be left blank</span>
               </div>
               <div [ngClass]="{'has-error':fn.weight.errors && fn.weight.touched}" class="col-xs-3" id="bloc6 ">
                <input type="number" id="" name="" formControlName="weight" class="form-control" placeholder="Weight(in kgs)">
                <span class="alert-danger" *ngIf="fn.weight.errors && (fn.weight.touched || fn.weight.dirty)">Can not be left blank</span>
               </div>
    <br><br>

      <div class="page-header">
        <h4>Personal contact details</h4>
        </div>
       <div [ngClass]="{'has-error':fn.mailid.errors && fn.mailid.touched}" class="col-xs-4" id="bloc7">
        <input type="text" id="" name="" formControlName="mailid" class="form-control" placeholder="Enter your Email id">
        <span class="alert-danger" *ngIf="fn.mailid.errors && (fn.mailid.touched || fn.mailid.dirty)">Can not be left blank</span>
       </div>
       <div class="col-xs-4" id="bloc8">
       <input type="number" id="" name="" formControlName="phoneno" class="form-control" placeholder="Enter your phone number">
       </div><br><br>
       <div class="page-header">
        <h4>Enter your address here</h4>
        </div>
       <div [ngClass]="{'has-error':fn.address.errors && fn.address.touched}">
        <textarea name="" formControlName="address"  class="form-control" id="txtarea" spellcheck="false" placeholder="Enter your address here"></textarea>
        <span class="alert-danger" *ngIf="fn.address.errors && (fn.address.touched || fn.address.dirty)">Can not be left blank</span>
       </div>
       <div class="page-header">
        <h4>Blood donation information</h4>
        </div>
       <div class="col-xs-3" id="bloc9">
        <select name="bloodgrp" id="bldgrp" formControlName="bloodgroup" class="form-control">
            <option value="" disabled selected>Select blood group</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
          </select>   
       </div>
       
      <br>

      <br>

      <div>
       
            <div class = "form-group form-inline col-md-12 mb-3">
                <div class="form-check form-check-inline" id="bloc10">
                    <b>Have you ever donated blood?*</b><br>
                    <input class="form-check-input" type="radio" formControlName = "flag"  value = "Y" (ngModelChange)="radioValueCheck(1)" >
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName = "flag" value = "N" (ngModelChange)="radioValueCheck(2)" >
                    <label class="form-check-label">No</label>
                </div>
            </div> 
        &nbsp;
                <div id="bloc11">
                    <label> If you have donated blood please put the last date:*</label>
                    <div class="input-group">
                        <br><input type="date" name="" class="form-control" placeholder="dd/mm/yyyy" formControlName="ldd"  [attr.disabled]="showInputFlg ? 'disabled' : null">
                    </div>
                </div>
            </div>
    <br><br>
    <p>
    <input type="button" id="sb" value="Become a Donor" class="btn btn-success" (click)="fnAdd()"/>
    &nbsp;<input type="reset" id="res" value="Reset"  class="btn btn-primary">
    <!-- &nbsp;<input type="button" value="Update"  class="btn btn-primary" (submit)="fnUpdateBloodDonor()"><br> -->
    </p>
    
    <div>
        <input type="button" id="vd" value="Donor management" class="btn btn-warning btn-block"
        (click)="navigatetoview()">


    </div>
    
</form>

</div>
</div>
<br>
<hr>
