.round
{
    border: 2px solid red;
    border-radius: 12px;
}
/* .bsrch
{
    background-color: #ffb3b3;
    border: 1px solid  #800000;
    padding: 25px;
    border-radius: 25px;
} */
.bsrch
{
    
      border: 1px  ;
      padding: 20px;
      border-radius: 25px;
    /* border: 1px solid  #800000;
    padding: 20px;
    */
}
.bsrch:hover
    {
      -moz-box-shadow: 0 0 50px #808080;
      -webkit-box-shadow: 0 0 50px #808080;
      box-shadow: 0 0 50px #808080;
    }