<div class="abt">
<div style="background-image: url(https://www.shergee.com/images/sub_banner.jpg);">

    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <h2> About <span style="color: crimson;"><i><b> NATIONAL BLOOD BANK</b></i></span> </h2>
                <p style="font-size: larger;font-weight: bold;">
                    Together, we will deliver the promise of medicine. The mission of NATIONAL BLOOD BANK is to improve
                    the health of the community and the world by setting the standard of excellence in medical
                    education,
                    research and clinical care.<br>
                    The Society's mission is to further the understanding, diagnosis, treatment, and prevention of
                    disorders affecting the blood, bone marrow, and the immunologic, hemostatic and vascular systems, by
                    promoting research, clinical care, education, training, and advocacy in hematology.<br>
                </p>
                <p style="font-size: larger;font-weight: bold;">
                    Diverse and inclusive, NATIONAL BLOOD BANK:

                    <span style="font-size: medium;font-weight: bold;">
                        <ul>
                            <li>Educates medical students, scientists, health care professionals and the public</li>
                            <li>Conducts biomedical research</li>
                            <li>Provides patient-centered medicine to prevent, diagnose and treat human illness</li>
                        </ul>
                    </span>
                </p>

            </div>
            <div class="col-md-6">
                <br>
                <br>
                <br>



                <div>
                    <img src="https://www.hopkinsmedicine.org/sebin/p/e/inclusion-hands-in-compressed.jpg" alt="blood"
                        width="450" height="300" class="img-thumbnail" alt="Cinque Terre" width="200" height="236">
                </div>

            </div>
        </div>

    </div>
</div>
<br>
</div>
<br>
<hr>