#blo1,#blo2
{
    display: inline;
}
#blo3,#blo4
{
    display: inline;
}
#blo5,#blo6
{
    display: inline;
}
#blo7,#blo8
{
    display: inline;
}
.scss
{
    
      border: 1px  ;
      padding: 20px;
      border-radius: 25px;
      transition: .5s ease;
    /* border: 1px solid  #800000;
    padding: 20px;
    */
}
.scss:hover
    {
      -moz-box-shadow: 0 0 50px #000000;
      -webkit-box-shadow: 0 0 50px #000000;
      box-shadow: 0 0 50px #000000;
    }
     input[type="text"]:focus{
        outline: none;
        box-shadow: 0px 0px 50px  		#c69fc6 ;
        border:1px solid #808080;
        }
        
        input[type="text"]:hover{
        border: 1px solid #999;
        border-radius: 5px;
        }
        
        input[type="text"]:focus:hover{
        outline: none;
        box-shadow: 0px 0px 50px 		#c69fc6;
        border:1px solid #5AB0DB;
        border-radius:5px;
        
        }    ​ 
#textArea
{
    margin:2px 2px;
    padding:30px;
    height:20px;
    line-height:20px;
    width:50%;
    display:block;
    margin:5px;    
}

.selcls { 
    padding: 9px; 
    border: solid 1px #517B97; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px); 
    box-shadow:  0px 0px 50px; 
    -moz-box-shadow:  0px 0px 50p; 
    -webkit-box-shadow:  0px 0px 50px; 

    } 

    #req
    {
        position:relative;
    transition: .5s ease;
    left: 300px;
    right: -420px;
    }
  #req:hover
  {
    -webkit-transform: scale(1.50);/*Grows in size like Angry Birds button*/
    -moz-transform: scale(1.50);
    -ms-transform: scale(1.50);
    -o-transform: scale(1.50);
  }

  #res
  {
    position:relative;
    transition: .5s ease;
    left: 350px;
    right: -420px; 
  }
  #res:hover
  {
    -webkit-transform: scale(1.50);/*Grows in size like Angry Birds button*/
    -moz-transform: scale(1.50);
    -ms-transform: scale(1.50);
    -o-transform: scale(1.50);
  }
  #vw
  {
    /* position:relative; */
    transition: .5s ease;
  }
  #vw:hover
  {
    -webkit-transform: scale(1.05);/*Grows in size like Angry Birds button*/
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }


    
   
    
   