<div class="bg">
<div class="jumbotron" style="text-align:center;">
    <h1>Reset Password</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form [formGroup]="restForm" ngNativeForm>

                <div  [ngClass]="{'has-error':f.id.errors && (f.id.touched || f.id.dirty)}">
                    <input type="number" class="form-control" name="id" formControlName="id" placeholder="Enter ID"/>
                   <div *ngIf="f.id.touched && f.id.invalid" class="alert alert-danger">
                    <span *ngIf="f.id.errors && (f.id.touched || f.id.dirty)">
                        *Required Field
                        <span *ngIf="f.id.errors.requried">
                            *Required Field
                        </span>
                    </span>
                </div>
                </div>
                <br><br>
              
                <div [ngClass]="{'has-error':f.password.errors && (f.password.touched || f.password.dirty)}">
                    <!-- <p style="color:black;">Password:</p> -->
                    <input [type]="passType" class="form-control" formControlName="password" placeholder="Create Password" required>
                    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <span *ngIf="f.password.errors && (f.password.touched || f.password.dirty)">
                        * Invalid Password
                        <span *ngIf="f.password.errors.requried">
                            *Required Field
                        </span>
                    </span>
                </div>
                    <!-- <input type="checkbox" (click)="changePasswordType()">Show password -->
                    </div>
                    <br><br>
                    <div [ngClass]="{'has-error':f.confirmpassword.errors && (f.confirmpassword.touched || f.confirmpassword.dirty)}">
                        
                        <!-- <p style="color:black;">ConfirmPassword:</p> -->
                        <input [type]="passType" class="form-control" formControlName="confirmpassword" placeholder="Enter the Confirm Password" required>
                        <div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid" class="alert alert-danger">
                            <div *ngIf="f.confirmpassword.errors.required">Password is required.</div>
                            <div *ngIf="f.confirmpassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
                        <br>
                        <input type="checkbox" (click)="changePasswordType()">Show password
                        <!-- <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.
                        </div>   -->
                        </div>
                        <br>
    <p align="center"><input type="button" class="btn btn-success" value="update" (click)="resetPw()"/>
    &nbsp;<input type="reset" class="btn btn-info" value="Reset"/></p>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div>
</div>
    
