.bghlp
{
    background-image: url('https://i.stack.imgur.com/jGlzr.png');
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}